/* Used wth shadow root components */
:host(.hydrated.hidden) {
  display: none !important;
  visibility: hidden !important;
}

/* Used with non-shadow components */
.hydrated.hidden {
  display: none !important;
  visibility: hidden !important;
}

.button-group-wrapper .list-group {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  margin: 0 calc(1rem - 1px);
}

psk-button-group[opened] .list-group {
  display: block;
  visibility: visible;
  top: 0px;
  bottom: auto;
}

.button-group-wrapper .list-group,
.trigger {
  padding: 0.25rem 1rem 0;
  font-size: 1.1rem;
  color: #fff;
  text-align: left;
  background-color: rgb(92, 12, 78);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  float: left;
}

.button-group-wrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.button-group-wrapper.dots-menu .trigger {
  background-color: transparent;
  padding-top: 0;
  border: none;
}

.trigger {
  padding: 0.75rem 1rem;
  cursor: pointer;
}
.trigger * {
  padding-right: 0.75rem;
}

psk-button-group[opened] .list-group.left-orientation {
  left: 0px;
  right: auto;
  transform: translate3d(0px, 3rem, 0px);
  will-change: transform;
}

psk-button-group[opened] .list-group.right-orientation {
  left: auto;
  right: 0px;
  transform: translate3d(0.5rem, 1.5rem, 0px);
  will-change: transform;
  min-width: 10rem;
}
