.psk-slideshow-container {
  margin:0 auto;
  overflow:hidden;
  width:100%;
}

#psk-content-slider {
  width:100%;
  height:100%;
  margin:0 auto;
}

#psk-slider {
  background:#000;
  height:100%;
  width:100%;
  margin:0 auto;
  overflow:visible;
  position:relative;
}

#psk-slider-mask {
  overflow:hidden;
}

#psk-slider ul {
  margin:0;
  padding:0;
  height:100%;
  width: 100%;
  position:relative;
}

#psk-slider li {
  width:100%;
  height:100%;
  position:absolute;
  list-style:none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  left: 0;
  top: 0;
  opacity: 1;
}

#psk-slider li {
  width: 100%;

}
